body {
	background: url("background.jpg"); /* Links to your background image, which you can also replace with a URL. */
	background-size: cover; /* Image covers page. */
	background-repeat: no-repeat; /* Image does not repeat. */
	background-attachment: fixed; /* Image doesn't move when you scroll up or down. */
	background-position: top;
	text-align: center;
	color: white; /* Text color. */
	font-family: 'Avenir', sans-serif; /* Font: sans-serif included in case browser doesn't support first option. */
}

h1 {
	font-size: 100px;
}

h2 {
	font-size: 40px;
}

/* This just centers the header container vertically on the page. */
.container-fluid {
	height: 200px;
	width: 100%;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

/* Styling for icons. */
.fa {
	color: white;
	margin: 10px 5px;
	font-size: 3em !important;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.nav-container{
	width: 80%;
	margin: auto 0;
}

header{
	background: #55d6aa;
}

header::after{
	content: '';
	display: table;
	clear: both;
}

.logo{
	float: left;
	padding: 10px 0;
}

nav{
	float: right;
}

nav ul{
	margin:0 ;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin-left:70px ;
	padding-top: 23px;
	position: relative;
}

nav a{
	color: #444);
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover{
	color: #000;
}

nav a::before{
	content: '';
	display: block;
	height: 5px;
	width: 100%;
	background-color: rgb(93, 20, 211);
	position: relative;
	top: 0;
	width: 0%;
	transition: all ease-in-out 250ms;
}

nav a:hover::before{
	width: 100%;

}
